@import url("variables.css");




/* Container for contact form and image */
.formbox-container {
    display: flex;
    justify-content: center;
}

/* Margin top for contact form and image container */
.formbox, .img-container {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Set the background color of contact form container */
.formbox {
    background-color: var(--main-color);
}
/* Size of contact form container */
.formbox {
    width: 500px;
    height: 500px;
    padding-top: 20px;
    border-radius: 4px;
}
/* Styling of the image container */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 4px 4px 0;
    padding-left: 100px;
}
/* Set image size and border */
.contact-img {
    border-radius: 4px;
    margin-bottom: 10px;
    width: 500px;
    height: 500px;
}
/* Styling of the contact form */
fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    border: none;
    width: 450px;
    
}
input, select {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
}
option {
    background-color: var(--main-color);
    font-size: 16px;
}

.name, .email {
    border: none;
    padding: 5px;
}
.form__input {
    display: block;
}

.message {
    height: 180px;
    padding: 5px;
    border-radius: 4px;
}
/* Button styling */
.send-btn {
    margin-top: 5px;
    height: 35px;
    font-size: 20px;
    color: #eeeeee;
    border-radius: 4px;
    background-color: var(--font-color);
}

/* Styling of Visit us info */
.text-container-contact {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}
.text-container-contact h2 {
    margin-bottom: 10px;
}
/* Increased line-height for better visibility and for information to stand out more */
.text-container-contact p {
    line-height: 25px;
}
.google-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* iframe styling */
iframe {
    width: 1200px;
    height: 450px;
    border: 1px solid var(--font-color);
    border-radius: 4px;
    margin-bottom: 120px;
}

/* Styling for different screen sizes. */

@media (max-width: 1215px) {
    iframe {
        width: 1000px;
    }
    .text-container-contact {
        width: 1000px;
    }
}

@media (max-width: 1080px) {
    .formbox-container {
        align-items: center;
        flex-direction: column;
    }
    .formbox {
        margin-bottom: 0;
        border-radius: 4px 4px 0 0;
    }
    .img-container {
        margin-top: 0;
        padding-left: 0;
        align-items: center;
    }
    .contact-img {
        border-radius: 0 0 4px 4px;
    }
    .text-container-contact {
        width: 500px;
    }
    iframe {
        width: 500px;
        height: 400px;
        border-radius: 4px;
    }
}

@media (max-width: 650px) {
    .formbox, .img-container {
        width: 400px;
    }
    fieldset {
        width: 350px;
    }
    .contact-img {
        width: 400px;
        height: auto;
    }
    .text-container-contact {
        width: 400px;   
    }
    .text-container-contact p {
        font-size: 16px;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 30px;
    }
    .formbox, .img-container {
        width: 330px;
    }
    fieldset {
        width: 300px;
    }
    .contact-img {
        width: 330px;
        height: auto;
    }
    .text-container-contact {
        width: 330px;
    }
    .text-container-contact h2 {
        font-size: 20px;
    }
    .text-container-contact p {
        font-size: 12px;
    }
    iframe {
        width: 330px;
    }
}