@import url("variables.css");


h1 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 5px;
}
.messagesent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.text-container {
    padding: 20px;
    border-radius: 4px;
    background-color: var(--main-color);
    width: 600px;
    height: auto;
}

.ai-robot {
    margin-top: 30px;
    width: 200px;
    height: 200px;  
}

@media (max-width: 650px) {
    h1 {
        font-size: var(--h1-tablet);
    }
    .text-container {
        width: 500px;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: var(--h1-mobile);
    }
    .text-container {
        width: 330px;
    }
    .ai-robot {
        width: 170px;
        height: 170px;
    }
}