@import url("variables.css");

h1 {
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

.kid-img {
    width: 1200px;
    height: auto;
}
.teacher-img {
    width: 415px;
    height: auto;
}
.research-img {
    width: 1200px;
    height: auto;
}
.explore {
    display: flex;
    flex-direction: column;
}

.text-container {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 4px;
    width: 1200px;
    height: auto;
    margin: 20px;
}

.text-container-teacher {
    width: 500px;
    background-color: var(--main-color);
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
    height: auto;
}
.text-container h2, .text-container-teacher h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.text-container p, .text-container-teacher p {
    padding-bottom: 15px;
}

.kids-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.teacher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.researcher-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/* Adding some responsiveness to the page */

@media (max-width: 1215px) {
    .text-container {
        width: 1000px;
    }
    .text-container-teacher {
        width: 800px;
    }
    .kid-img, .research-img {
        width: 1000px;
    }
    .teacher-container {
        flex-direction: column;
    }
}

@media (max-width: 1020px) {
    .text-container {
        width: 800px;
    }
    .kid-img, .research-img {
        width: 800px;
    }
}

@media (max-width: 817px) {
    .text-container, .text-container-teacher {
        width: 600px;
    }
    .kid-img, .research-img {
        width: 600px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: var(--h1-tablet);
    }
    h2 {
        font-size: var(--h2-mobile);
    }
    .text-container, .text-container-teacher {
        width: 400px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .text-container {
        border-radius: 0 0 4px 4px;
    }
    .text-container-teacher {
        border-radius: 4px 4px 0 0;
    }
    .kid-img, .teacher-img, .research-img {
        width: 400px;
    }
    .kid-img, .research-img {
        border-radius: 4px 4px 0 0;
    }
    .teacher-img {
        border-radius: 0 0 4px 4px;
    }
}
@media (max-width: 420px) {
    .text-container, .text-container-teacher {
        width: 300px;
    }
    
    .kid-img, .teacher-img, .research-img {
        width: 300px;
    }
}