@import url("variables.css");



/* Welcome section & image of AI Robot */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    display: flex;
    width: 1200px;
    align-items: center;
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 4px;
}
.welcome-text {
    padding: 20px;
    line-height: 1.5rem;
    background-color: var(--main-color);
}
.welcome-text p {
    margin-bottom: 10px;
}
.explore-p {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    
}

.ai-robot {
    padding: 10px;
    width: 207px;
    height: auto;
    z-index: 1;
    background-color: var(--main-color);
    justify-content: center;
}

/* Making welcome section responsive and look good on different screens */
@media (max-width: 1210px) {
    .welcome-container {
        width: 1000px;
    }
}
@media (max-width: 1002px) {
    .welcome-container {
        width: 800px;
    }
}

@media (max-width: 802px) {
    .welcome-container {
        flex-wrap: wrap;
        width: 640px;
        justify-content: center;
        text-align: center;
        line-height: 1.5rem;
    }
    .ai-robot {
        padding-left: 0;
    }
}
@media (max-width: 650px) {
    .welcome-container {
        width: 500px;
    }
}
@media (max-width: 503px) {
    .welcome-container {
        width: 350px;
    }
    .welcome-container p {
        font-size: 12px;
    }
    .ai-robot {
        width: 170px;
        height: auto;
    }
}

/* For Kids, Teachers and Researcher section */

.explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.explore-container {
    position: relative;
    margin: 18px;
    width: 352px;
    height: auto;
    border-radius: 4px;
    border: 1px solid var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.kids-container, .teacher-container, .researcher-container {
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}
.explore-container {
    margin-left: 35px;
    margin-right: 35px; 
}

.kids-container {
    background-image: url("../images/forkids.jpg");
}
.teacher-container {
    background-image: url("../images/forteachers.jpg");
}
.researcher-container {
    background-image: url("../images/researchers.jpg");
}

.explore-text {
    align-items: center;
    text-align: center;
    display: none;
    color: var(--main-color);
    font-size: 35px;
}
.explore-text h2 {
    padding-top: 105px;
}

.explore-container:hover {
    filter: brightness(80%);
}
.kids-container:hover > .explore-text, .teacher-container:hover > .explore-text, .researcher-container:hover > .explore-text {
    display: block;
}
.click-img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;   
}

/* Explore section responsive and look good on different screens */

@media (max-width: 1000px) {
    .explore { 
        flex-wrap: wrap;
    }
}
@media (max-width: 378px) {
    .kids-container, .teacher-container, .researcher-container {
       width: 300px; 
       background-position: 50%;
    }
    .explore-text {
        font-size: 25px;
        display: block;
    }
}

.color-container-1 {
    max-width: 1200px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 4px;
    margin: 0 auto;
}

/* Color containers for Museum info section on the Index page. This is only used on this.

*/

@media (min-width: 1200px) {
    .color-container-1 {
        width: 1200px;
    }
}

@media (max-width: 1199px) {
    .color-container-1 {
        width: 1000px;
    }
}
@media (max-width: 1017px) {
    .color-container-1 {
        width: 800px;
    }
}
@media (max-width: 816px) {
    .color-container-1 {
        width: 400px;
        height: 40px;
    }
}
@media (max-width: 650px) {
    .color-container-1 {
        height: 30px;
    }
}
@media (max-width: 420px) {
    .color-container-1 {
        width: 350px;
    }
}
@media (max-width: 378px) {
    .color-container-1 {
        width: 300px;
    }
}






/* Museum Info Section */


.museum-misc-info, .museum-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.misc-info-container, .museum-info-container {
    display: flex;
    width: 1200px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.food-drink-container p, .shop-container p, .accessibility-container p {
    width: 400px;
    height: 200px;
    line-height: 1.5rem;
    padding: 15px 30px;
}
.food-drink-container h4, .shop-container h4, .accessibility-container h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.opening-container {
    width: 400px;
    height: auto;
    margin-right: 70px;
    padding: 30px;
    line-height: 1.5rem;
    text-align: center;
}
.opening-container h4, .admission-container h4 {
    margin-bottom: 10px;
}
.opening-container li {
    list-style-type: none;
}
.admission-container {
    padding: 30px;
    width: 600px;
    height: auto;
}

/* Making museum info and misc info responsive */ 


@media (max-width: 1200px) {
    .opening-container {
        margin-right: 0;
    }
}

@media (max-width: 817px) {
    .food-drink-container {
        margin-top: 10px;
        height: 150px;
    }
    .shop-container {
        margin-top: 10px;
    }
    .admission-container {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .misc-info-container p, .museum-info-container p, .museum-info-container li {
        font-size: 12px;
    }
    .admission-container p {
        line-height: 1.5rem;
    }
    
}
@media (max-width: 418px) {
    .food-drink-container p, .shop-container p, .accessibility-container p, .admission-container {
        width: auto;
        height: auto;
        text-align: center;
    }
    
    
    .admission-container {
        width: 300px;
    }
    h4 {
        text-align: center;
    }
}






/* Picture of a section inside the museum */

.museumimg-container {
    display: flex;
    justify-content: center;
}

.insidemuseum-img {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 1200px;
    height: auto;
}

/* Image responsive at different resolutions. Lowest resolution until image is no longer shown is 340px */

@media (max-width: 1212px) {
    .insidemuseum-img {
        width: 1000px
    }
}
@media (max-width: 1020px) {
    .insidemuseum-img {
        width: 800px;
    }
}
@media (max-width: 820px) {
    .insidemuseum-img {
        width: 600px;
    }
}
@media (max-width: 620px) {
    .insidemuseum-img {
        width: 400px;
    }
}
@media (max-width: 420px) {
    .insidemuseum-img {
        width: 300px;
    }
}
@media (max-width: 340px) {
    .insidemuseum-img {
        display: none;
    }
}



