@import url("variables.css");



.specialevents {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;

}

.energetica-img {
    width: 1200px;
    height: 700px;   
    border-radius: 4px; 
    margin-bottom: 59px;
}

/* Welcome section & image of AI Robot */

.welcome-container {
    max-width: 1200px;
    height: 250px;
    margin-top: 59px;
    margin-bottom: 59px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 57px;
}
.ai-robot {
    margin-left: 30px;
    width: 207px;
    height: 207px;
    z-index: 1;
    background-color: var(--main-color);
    justify-content: center;
}
.welcome-text {
    font-size: 16px;
    color: var(--font-color);
    padding-left: 55px;
    background-color: var(--main-color);
    justify-content: center;
    
}
.robot-text {
    background-color: var(--main-color);
    line-height: 2rem;
    width: 870px;
}

/* For Kids, Teachers and Researcher section */

.explore {
    display: flex;
    justify-content: center;
    
}
.explore-container {
    position: relative;
    margin: 18px;
    width: 376px;
    height: 270px;
    border-radius: 4px;
    border: 1px solid var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.kids-container, .teacher-container, .researcher-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.kids-container {
    background-image: url("../images/forkids.jpg");
}
.teacher-container {
    background-image: url("../images/forteachers.jpg");
}
.researcher-container {
    background-image: url("../images/researchers.jpg");
}

.explore-text {
    align-items: center;
    text-align: center;
    display: none;
    color: var(--main-color);
    font-size: 35px;
}
.explore-text h2 {
    padding-top: 105px;
}

.explore-container:hover {
    filter: brightness(80%);
}
.kids-container:hover >.explore-text, .teacher-container:hover > .explore-text, .researcher-container:hover > .explore-text {
    display: block;
}

.click-img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}


/* Museum Info Section */

.index-color-container {
    margin-top: 57px;
}

.museum-misc-info, .museum-info {
    display: flex;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    justify-content: space-evenly;
} 

.food-drink-container, .shop-container, .accessibility-container {
    width: 300px;
    height: 250px;
    text-align: center;
    padding-top: 37px;
    
}
.food-drink-container p, .shop-container p, .accessibility-container p {
    padding-top: 30px;
    line-height: 1.5rem;

}

/* Check this for later - When making things responsive. 
.food-drink-container {
    border-right: inset var(--main-color);
    padding-right: 25px;
    width: 350px;
}
*/

/* Museum Opening Hours & Admission section */

.opening-container {
    
    width: 410px;
    text-align: center;  
    margin-bottom: 30px; 
}
.opening-container h4, .admission-container h4 {
    margin-bottom: 30px;
}
.opening-container, .admission-container {
    margin-bottom: 50px;
    margin-top: 30px;
}
.opening-container li {
    list-style-type: none;
    margin-top: 10px;
}
.admission-container {
    width: 700px;
    text-align: center;
    line-height: 1.5rem;
}
#openinghour-linebreak {
    margin-top: 30px;
}



/* Picture of a section inside the museum */

.museumimg-container {
    display: flex;
    justify-content: center;
}

.insidemuseum-img {
    margin-top: 50px;
    margin-bottom: 70px;
    width: 1200px;
    height: auto;
    border: 1px solid var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



