@import url("variables.css");


h1 {
    margin-bottom: 50px;
}

.aeronautics-img, .energetica-img, .nightmuseum-img {
    width: 500px;
    height: auto;
    border-radius: 4px;
}
.right-img {
    margin-left: 20px;
}
.left-img {
    margin-right: 20px;
}
.specialevents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aeronautics-container, .nightmuseum-container, .energetica-container {
    display: flex;
    width: 1200px;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 4px;
    
}
.text-container-events {
    background-color: var(--main-color);
    width: 600px;
    height: 335px;
    border-radius: 4px;
    line-height: 1.5rem;
    text-align: center;
    padding: 10px;
}
.text-container-events h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}
@media (max-width: 1215px) {
    .aeronautics-container, .energetica-container {
        flex-direction: column;
    }
    .nightmuseum-container {
        flex-direction: column-reverse;
        
    }
    .aeronautics-img, .energetica-img, .nightmuseum-img {
        margin-top: 20px;
    }
    
    .text-container-events {
        width: 500px;
    }
    .right-img {
        margin-left: 0px;
    }
    .left-img {
        margin-right: 0px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 30px;
    }
    .aeronautics-container, .nightmuseum-container, .energetica-container {
        width: 450px;
    }
    .text-container-events {
        width: 400px;
    }
    .text-container-events h2 {
        font-size: 16px;
    }
    .text-container-events p {
        
        font-size: 16px;
    }
    .aeronautics-img, .energetica-img, .nightmuseum-img {
        width: 400px;
        height: auto;
    }
}

@media (max-width: 420px) {
    .aeronautics-container, .nightmuseum-container, .energetica-container {
        width: 350px;
        height: auto;
    }
    .text-container-events {
        width: 300px;
        height: auto;
    }
    .text-container-events p {
        font-size: 12px;
    }
    .text-container-events h2 {
        font-size: 16px;
    }
    
    .aeronautics-img, .energetica-img, .nightmuseum-img {
        width: 300px;
        height: auto;
    }
}