@import url(variables.css);

/* Global styles for all pages */

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;    
}
html, nav, header {
    background-color: var(--bg-color);
}
main {
    overflow: hidden;
    padding-top: 150px;
}


h1 {
    
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

/* Global Image styling */

.exhibitions-img, .contact-img, .aeronautics-img, .nightmuseum-img, .energetica-img, .kid-img, .teacher-img, .research-img, .getinvolved-img, .insidemuseum-img {
    border-radius: 4px;
    border: 1px solid var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Global container styling */ 
.welcome-container, .color-container-1, .text-container-teacher, .support, .volunteer, .internships, .formbox, iframe, .exhibition-text, .text-container, .visitus-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Navbar Styling */



nav, 
#nav-checkbox {
    display: none;
}

#nav-checkbox:checked ~ nav {
    display: block;
}

header {
    position: fixed;
    z-index: 4;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--footer-color);
    display: block;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
    position: absolute;
    left: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--footer-color);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    
}
nav a:hover {
    color: var(--main-color);
}



/* NAVBAR RESPONSIVE */
/* For desktop view */ 
@media (min-width: 650px){
    
    nav {
        display: block;
        position: static;
        box-shadow: none;
        max-width: 1190px;
        justify-content: center;
        margin: 0 auto;
    }
    .hamburger-icon {
        display: none;
    }
   
    nav a {
        display: inline-block; 
        margin-top: 20px;
        padding-left: 5px;
    }
    .navbar-links {
        display: flex;
        justify-content: space-between;
        
    }
    .navbar-links a {
        border-radius: 4px;
        
    }
    .navbar-a {
        height: auto;
        margin-top: 45px;
    }
    .nav-logo {
        width: 170px;
        height: 80px;
    }
}

/* Tablet/Mobile view of the nav bar */
/* Increase padding on hamburger menu to make it visually better and easier to click. */
@media (max-width: 649px) {
    header {
        padding: 5px;
    }
    /* better position of menu im hamburger menu to look better on screen */
    nav {
        margin-top: 5px;
    }
    nav a {
        margin-top: 0;
        padding: 10px 10px;
    }
    .hamburger-icon {
        margin-left: 0.4em;
    }
}


/* Tree, flower and bee styling. */

.nature-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 100px;
}
.flower-img {
    width: 90px;
    height: auto;
    margin-top: 110px;
    
}
.flower-container {
    width: 200px;
    height: 200px;
}
.tree-container {
    width: 200px;
    height: 200px;
    padding: 17px;
    margin-bottom: 0;
    
}
.tree-img {
    width: 185px;
    height: auto;
    
    
}
.bee-img {
    width: 60px;
    height: auto;
    margin-left: 180px;
    margin-top: 20px;
    transform: rotate(-23deg);
}

@media (max-width: 650px) {
    .tree-img {
        width: 130px;
        height: auto;
        margin-top: 55px;
    }
    .flower-img {
        width: 60px;
        height: auto;
        margin-left: 100px;
        margin-top: 140px;
        
    }
    .bee-img {
        width: 30px;
        height: auto;
        margin-right: 50px;
    }
}
@media (max-width: 550px) {
    .tree-img {
        width: 100px;
        height: auto;
        padding-top: 30px;
    }
    .flower-img {
        width: 40px;
        height: auto;
        margin-left: 20px;
        margin-top: 160px;
        
    }
    .bee-container {
        width: 130px;
    }
    .flower-img {
        margin-left: 70px;
    }
    .bee-img {
        margin-left: 30px;
    }
}



/* Footer Styling */

footer {
    width: 100%;
    height: auto;
}

.footer-container {
    display: flex;
    height: 338px;
    background-color: var(--footer-color);
}

.footer-links {
    margin-top: 35px;
    margin-left: 29px;
    line-height: 2rem;
    background-color: var(--footer-color);
    width: 237px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.footer-links a {
    text-decoration: none;
    background-color: var(--footer-color);
    color: #fff;
    font-size: 20px;
}
.footer-links a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.footer-logo {
    width: 210px;
    height: 120px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
.footerlogo-img {
    background-color: var(--footer-color);
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
.copyright {
    background-color: var(--footer-color);
    color: #fff;
    font-size: 12px;
}

.footer-visit {
    background-color: var(--footer-color);
    width: 267px;
    height: auto;
    float: right;
    margin-top: 35px;
    padding-right: 15px;
    line-height: 2rem;
}
.footer-visit h2 {
    font-size: 20px;
}
.footer-visit p {
    font-size: 12px;
}
.footer-visit h2, .footer-visit p {
    background-color: var(--footer-color);
    color: #fff;
}

 @media (max-width: 740px) {
    .footer-container {
        flex-direction: column;
        height: auto;
        width: 100%;
        display: table;   
    }
    .footer-container div span {
        padding: 20px;
        display: block;

    }
    
    .footer-links {
        text-align: center;
        padding-top: 50px;
        justify-content: center;
        margin: 0 auto;
    }
    .footer-visit {
        text-align: center;
        float: none;
        justify-content: center;
        margin: 0 auto;
        padding-right: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer-logo {
        display: table-footer-group;
        margin: 0 auto;
    }
    
    
 }
