@import url(variables.css);

/* Global styles for all pages */

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}


/* Nav Styling */






/* Footer Styling */

footer {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: auto;
}

.footer-container {
    width: 100%;
    height: 338px;
    background-color: var(--footer-color);
}

.footer-links {
    margin-top: 35px;
    margin-left: 29px;
    line-height: 2rem;
    background-color: var(--footer-color);
    width: 237px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.footer-links a {
    text-decoration: none;
    background-color: var(--footer-color);
    color: #fff;
    font-size: 20px;
}
.footer-links a:hover {
    color: var(--main-color);
}

.footer-logo {
    width: 200px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}
.footerlogo-img {
    background-color: var(--footer-color);
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
.copyright {
    background-color: var(--footer-color);
    color: #fff;
    font-size: 12px;
}

.footer-visit {
    background-color: var(--footer-color);
    width: 247px;
    height: auto;
    float: right;
    margin-top: -230px;
    line-height: 2rem;
}
.footer-visit h2 {
    font-size: 20px;
}
.footer-visit p {
    font-size: 12px;
}
.footer-visit h2, .footer-visit p {
    background-color: var(--footer-color);
    color: #fff;
}
