@import url(variables.css);

/* Global styles for all pages */

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;    
}
main {
    overflow: hidden;
}




/* Color container 1 */

.color-container-1 {
    width: 1200px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 4px;
    margin: 0 auto;
}


/* Nav Styling */

/* Hamburger menu */ 

nav, 
#nav-checkbox {
    display: none;
}

#nav-checkbox:checked ~ nav {
    display: block;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 20px 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: block;
}

nav {
    position: absolute;
    left: 0;
    padding-top: 20px;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
nav a:hover {
    background-color: var(--main-color);
    color: #EEEEEE;
}


.navbar-links {
    padding-top: 15px;
}
.navbar-links a {
    margin-top: 30px;
}

/* Nav & Footer Mobile */

@media (min-width: 650px){
    nav {
        display: block;
        position: static;
        
    }
    .hamburger-icon {
        display: none;
    }
    
    nav a {
        display: inline-block; 
    }
    .navbar-links {
        display: flex;
        justify-content: space-around;
        margin-top: -50px;
    }
    .navbar-links a {
        width: 300px;
        border-radius: 4px;
        height: auto;
    }
}


/* Tree, flower and bee styling. */

.nature-container {
    margin-top: 100 px;
    display: flex;
    justify-content: space-evenly;
}
.tree-img {
    width: 185px;
    height: 185px;
    
}
.flower-img {
    width: 90px;
    height: 90px;
    margin-top: 100px;
}
.bee-img {
    width: 60px;
    height: 60px;
    margin-left: 180px;
    transform: rotate(-23deg);
}
.tree-container {
 width: 185px;
 height: 185px;
}
.flower-container {
    width: 90px;
    height: 90px;
    margin-left: 40%;
}

/* Footer Styling */

footer {
    width: 100%;
    height: auto;
}

.footer-container {
    display: flex;
    height: 338px;
    background-color: var(--footer-color);
}

.footer-links {
    margin-top: 35px;
    margin-left: 29px;
    line-height: 2rem;
    background-color: var(--footer-color);
    width: 237px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.footer-links a {
    text-decoration: none;
    background-color: var(--footer-color);
    color: #fff;
    font-size: 20px;
}
.footer-links a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.footer-logo {
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
.footerlogo-img {
    background-color: var(--footer-color);
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
.copyright {
    background-color: var(--footer-color);
    color: #fff;
    font-size: 12px;
}

.footer-visit {
    background-color: var(--footer-color);
    width: 247px;
    height: auto;
    float: right;
    margin-top: 35px;
    line-height: 2rem;
}
.footer-visit h2 {
    font-size: 20px;
}
.footer-visit p {
    font-size: 12px;
}
.footer-visit h2, .footer-visit p {
    background-color: var(--footer-color);
    color: #fff;
}
 @media (max-width: 690px) {
    .footer-container {
        flex-direction: column;
        height: 800px;
    }
    .footer-links {
        text-align: center;
        padding-top: 50px;
        justify-content: center;
        margin: 0 auto;
    }
    .footer-visit {
        text-align: center;
        float: none;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .footer-logo {
        margin-top: 100px;
        margin-bottom: 100px;
    }
 }
