@import url("variables.css");

/*Styling for Terms and Conditions and Privacy Policy */

h2 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 5px;
}
h1, .text-container h2 {
    margin-left: 10px;
}
.text-container p, .text-container li {
    margin-left: 10px;
    font-size: 16px;
    
}
li {
    list-style:disc;  
    margin-bottom: 10px;
}
ul {
    margin-left: 25px;
}
.updated {
    text-align: center;
    font-size: 12px;
    margin-bottom: 50px;
}
.b-text {
    font-weight: bold;
}

.privacy-section, .terms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container-termsprivacy {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 1200px;
}

a {
    text-decoration: none;
    color: black;

}
.termsprivacy-link {
    font-size: 16px;
    font-weight: bold;
    
}
.termsprivacy-link:hover {
    color: var(--main-color);
}



/* Changes font sizes to fit screen size */
@media (max-width: 1215px) {
    .text-container-termsprivacy {
        width: 1000px;
    }
}
@media (max-width: 1000px) {
    .text-container-termsprivacy {
        width: 600px;
    }
}
@media (max-width: 650px) {
    h1 {
        font-size: 35px;
    }
    .text-container-termsprivacy h2 {
        font-size: 25px;
    }
    .text-container-termsprivacy {
        width: 400px;
    }
    .text-container-termsprivacy p, .text-container-termsprivacy li, .termsprivacy-link {
        font-size: 14px;
    }
    
}

/* Changes font sizes to fit the smallest screen sizes */

@media (max-width: 420px) {
    h1 {
        font-size: 20px;
    }
    .text-container-termsprivacy h2 {
        font-size: 16px;
    }
    .text-container-termsprivacy {
        width: 300px;
    }
    .text-container-termsprivacy p, .text-container-termsprivacy li, .termsprivacy-link {
        font-size: 12px;
    }
    
}