:root {
  --main-color: #59B4C3;
  --bg-color: #EEEEEE;
  --footer-color: #393E46;


  /* Font Sizes */
  --font-size: 16px;
  --font-size-mobile: 12px;

  --h1: 50px;
  --h1-tablet: 40px;
  --h1-mobile: 30px;
 
  --h2: 30px;
  
  --h2-mobile: 20px;

  --h4: 20px;
  --h4-mobile: 16px;


  
}

